.menu-items {
  display: flex;
  position: relative;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo {
  width: 90px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 55;
}
.logo__image {
  width: 100%;
}
.techino {
  font-size: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.techlogo {
  font-size: 3rem;
  margin-right: 10px;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.menu-items .open {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  top: 60px;
  right: 0px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: transparent;
  animation: animate_item;
  animation-duration: 0.5s;
  z-index: 23;
}
@keyframes animate_item {
  from {
    transform: translateX(50%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.menu-items .close {
  display: none;
}
.hamburger svg.hamburger_menux {
  fill: #ccc;
  width: 31px;
  height: 31px;
}
.hamburger_menu {
  width: 43px;
  height: 43px;
  fill: #ccc;
}
.menu-items .open .link {
  cursor: pointer;
  padding: 1rem 1.5rem;
  box-shadow: 0 2px 0 #18148a;
  background: #02003b;
  /* box-shadow: 2px 3px 2px #03013E; */
}

.menu-items .link {
  box-shadow: 3px 2px 2px #454387;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1px;
  /* color: rgb(0, 21, 128); */
  /* background-color: #13107c; */
}

.error {
  margin: 6rem 1.5rem;
  color: red;
}

/*Add Member*/
.bn5 {
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* Media Queries */

@media screen and (min-width: 768px) {
  .menu-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    animation-name: animate;
    animation-duration: 0.5s;
  }

  .logo {
    width: 160px;
    top: 0;
    left: 0;
  }

  .menu-items .open {
    position: absolute;
    top: 0px;
    box-shadow: 0 2px 30px 3px #353195;
    background-color: #03013e;
    overflow: hidden;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .menu-items .open .link {
    box-shadow: none;
  }
  .error {
    margin: 6rem 1.5rem;
    color: red;
  }

  .hamburger {
    display: none;
  }

  .menu-items ul.open {
    display: flex;
    justify-content: flex-end;
  }

  .menu-items .link.active {
    color: rgb(0, 21, 128);
    color: #07d9de;
  }

  .menu-items .link {
    color: #fff;
    transition: all 0.4s ease-in-out;
  }

  .menu-items .link:hover {
    transform: scale(1.2);
  }
}
/*Hero*/
.main--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background-image: url("./components/images/blob-scene-haikei.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .main--container .main--header {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main--container .main--header {
    font-size: 3rem;
  }
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -99;
}
.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-adding {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Login*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.inputs {
  box-shadow: 0px 2px 8px #34414b;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 3rem;
}
.input {
  outline: none;
  border: none;
  padding: 9px;
  border-radius: 5px;
  background: #ccc;
}
.input:active,
.input:focus {
  background: #ccc;
}
/* 
button.signIn {
  background: #fbae3c;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button.signIn:hover {
  background: #b4781c;
} */
.signIn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.signIn .text {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.signIn:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.signIn:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.signIn:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
.title {
  color: #001220;
}
.pass {
  position: relative;
  background: #ccc;
  border-radius: 5px;
}
.eye {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/*Footer*/
.footer {
  /* position: absolute; */
  /* bottom: 0; */
  padding: 1rem;
  background: #ddd;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  place-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer .icons {
  display: flex;
  gap: 2rem;
}

.icons--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons--container h2 {
  font-size: 2rem;
}

.icons a {
  font-size: 22px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #aaa;
}
.icons a:nth-child(1) {
  background: #132d66;
}
.icons a:nth-child(2) {
  background: #15d3f5;
}
.icons a:nth-child(3) {
  background: #29488a;
}
.icons a:nth-child(4) {
  color: #444;
  background: linear-gradient(45deg, #fd5d94, #ff9966);
}
.icons a:nth-child(5) {
  background: #1a50c4;
}

.footer--service h2 {
  text-align: center;
}
.footer--service ul {
  list-style-type: none;
  font-weight: 600;
}
.footer--service ul li {
  line-height: 1.5;
}

.phone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  /* text-align: cenxter; */
}
.phone a {
  text-decoration: none;
  color: #001220;
}
.footer--heading {
  text-align: center;
  color: #001220;
  position: relative;
}
.footer--heading h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.footer--heading p {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline;
}

.emit {
  position: absolute;
  bottom: 1px;
  font-size: 1.5rem;
  line-height: 1.9;
}

.phone li {
  list-style: none;
  margin-bottom: 10px;
  font-weight: 600;
}
.phone h2 {
  margin: 0;
  text-align: center;
}
.home {
  font-size: 1.5rem;
}
.copy {
  background: #6895cf;
  width: 100%;
  text-align: center;
  padding: 1rem;
  grid-column: 1 / span 4;
}
@media screen and (max-width: 1024px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer--heading {
    font-size: 2rem;
  }
  .copy {
    grid-column: 1 / span 3;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .footer--heading {
    font-size: 1.1rem;
  }
  .copy {
    grid-column: 1 / span 2;
  }
  .footer .icons {
    gap: 0.8rem;
  }
  .phone a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer--heading {
    font-size: 1rem;
  }
  .copy {
    grid-column: 1;
  }
}

/*Blog*/
.profile--container {
  width: 80%;
  margin: 0 auto;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* background: dodgerblue; */
  margin-bottom: 1rem;
  padding: 1rem;
}
.profile--notation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.profile--image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.profile--image img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.profile--image:hover img {
  transform: scale(1.1);
}

.profile--btn1 {
  background: linear-gradient(
    90deg,
    rgb(23, 47, 228) 0%,
    hsla(197, 100%, 64%, 1) 100%
  );
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  animation: bn53bounce 4s infinite;
  cursor: pointer;
  transition: background 0.9s ease-in-out;
}

.profile--btn1:hover {
  background: linear-gradient(
    90deg,
    hsla(197, 100%, 64%, 1) 0%,
    rgb(23, 47, 228) 100%
  );
}

@keyframes bn53bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}
ul.slick-dots {
  position: absolute;
  bottom: 0;
}

.profile--header {
  font-size: 2rem;
  text-align: center;
  color: rgb(63, 63, 178);
}
/* .slick-prev {
  padding: 1rem;
  width: 40px;
  height: 40px;
  background-image: url("./components/images/left.png");
  background-position: center;
  background-size: cover;
} */

.slick-prev {
  left: -60px;
}
.slick-prev::before,
.slick-next::before {
  cursor: pointer;
  padding: 2rem;
  font-size: 2rem;
  color: rgb(63, 63, 178);
}

.slick-next {
  right: 14px;
}
.services--image {
  width: 18.5rem;
  margin: 0 auto;
  overflow: hidden;
}
.services--img {
  width: 100%;
  filter: brightness(0.6);
}
@media screen and (min-width: 768px) {
  .services--image {
    width: 37rem;
    overflow: hidden;
  }
}
@media screen and (min-width: 1024px) {
  .services--image {
    width: 50rem;
    overflow: hidden;
  }
}
.services--container {
  align-self: center;
  margin: 1rem auto;
  width: 80%;
  padding: 1rem;
}
.services {
  display: flex;
  justify-content: center;
  position: relative;
}

#services--containers {
  opacity: 0.5;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
}

.animation-show {
  opacity: 1;
  transform: translateY(0);
}
.services--description {
  display: none;
}

.service--message {
  margin: 1rem auto;
  padding: 1rem;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  background: rgba(47, 44, 44, 0.5);
}
.services--title {
  font-size: 1.2rem;
  padding: 4px;
}
a.service--btn--link {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  color: #fefefe;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}
a.service--btn--link span {
  font-size: 0.8rem;
}
a.service--btn--link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background-color: #7e767680;
  background: rgba(47, 44, 44, 0.5);
  transition: 0.3s ease-in-out;
  transform: scaleY(1);
}

a.service--btn--link:hover::before {
  transform: scaleY(0);
}

a.service--btn--link::after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background-color: #7e767680;
  background: rgba(47, 44, 44, 0.5);
  transition: 0.3s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

a.service--btn--link:hover::after {
  transform: scaleX(0);
}

a.service--btn--link span {
  position: relative;
  z-index: 3;
  font-size: 1rem;
}

.service--btn {
  background-color: none;
  text-decoration: none;
  background-color: #7e767680;
  background: rgba(47, 44, 44, 0.5);
  border: none;
}

@media screen and (min-width: 768px) {
  a.service--btn--link {
    padding: 15px 30px;
  }
  .services--title {
    font-size: 2.5em;
  }
  a.service--btn--link span {
    font-size: 1.2rem;
  }
  .services--description {
    display: block;
    padding: 7px;
  }
}
.services--header {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  color: rgb(63, 63, 178);
}
@media screen and (min-width: 768px) {
  .services--header {
    font-size: 2.2rem;
  }
}
/* Projects */
.project--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.project--image,
.project--description {
  width: 300px;
  height: 300px;
  background: rgb(21, 255, 0);
}
.project--description {
  padding: 1.2rem;
  box-sizing: border-box;
  overflow: auto;
}
.project--title {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
}
.project--title h1 {
  margin-bottom: 4px;
}
@media screen and (min-width: 620px) {
  .project--container {
    flex-direction: row;
  }
  .project--description {
    order: 1;
  }
  .project--container:nth-child(even) .project--description {
    order: -1;
  }
}
@media screen and (min-width: 768px) {
  .project--container {
    flex-direction: row;
  }
  .project--image,
  .project--description {
    width: 370px;
    height: 300px;
  }
  .project--description {
    padding: 2rem;
  }
  .project--title {
    font-size: 2.2rem;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .project--image,
  .project--description {
    width: 470px;
    height: 470px;
  }
  .project--description {
    padding: 4rem;
  }
  .project--text p {
    justify-self: stretch;
    margin: 0;
  }
}
@media screen and (min-width: 1330px) {
  .project--image,
  .project--description {
    width: 610px;
    height: 610px;
  }
}
.project--container--main:nth-child(odd) {
  transform: translateX(-10%);
}

.porjects--header {
  text-align: center;
  color: rgb(63, 63, 178);
  font-size: 1.4rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .porjects--header {
    font-size: 2.1rem;
  }
  .project--text p {
    justify-self: stretch;
    margin: 0;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1024px) {
  .porjects--header {
    font-size: 2.5rem;
  }
}
.project--container:nth-child(2) .project--description {
  background: #eaeef7;
}
.project--container:nth-child(3) .project--description {
  background: #1e4fcf;
  color: #fff;
}
.project--container:nth-child(4) .project--description {
  background: #e5e5e5;
}
.project--text {
  display: grid;
}
.project--text p {
  justify-self: stretch;
  margin: 0;
}
