/* .app--container {
  position: relative;
}
.hamburger-menu {
  position: relative;
  display: flex;
  /* align-items: center; 
  justify-content: space-between;
  background: #ddd;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 30px;
  height: 20px;
  z-index: 1;
  padding-right: 1rem;
}

.hamburger-icon span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  transition: transform 0.3s ease-in-out;
}

.open .hamburger-icon span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.open .hamburger-icon span:nth-child(2) {
  opacity: 0;
}

.open .hamburger-icon span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
} */

.menu-items {
  display: flex;
  position: relative;
}

@keyframes animate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo {
  width: 90px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 55;
}
.logo__image {
  width: 100%;
}
.techino {
  font-size: 3rem;
  margin: 0;
  display: flex;
  align-items: center;
}
.techlogo {
  font-size: 3rem;
  margin-right: 10px;
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.menu-items .open {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 60px;
  left: 0px;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #638689;
  animation: animate_item;
  animation-duration: 0.5s;
}
@keyframes animate_item {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu-items .close {
  display: none;
}
.hamburger svg.hamburger_menux {
  fill: #a06f20;
  width: 31px;
  height: 31px;
}
.hamburger_menu {
  width: 43px;
  height: 43px;
  fill: #a06f20;
}
.menu-items .open .link {
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.menu-items .link {
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  /* color: rgb(0, 21, 128); */
  background-color: #1edeec;
}

.error {
  margin: 6rem 1.5rem;
  color: red;
}

/*Add Member*/
.bn5 {
  padding: 1em 2em;
  font-size: 1rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #191919;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* Media Queries */

@media screen and (min-width: 768px) {
  .menu-items {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 100%;
    animation-name: animate;
    animation-duration: 0.5s;
  }

  .logo {
    width: 160px;
    top: 0;
    left: 0;
  }

  .menu-items .open {
    position: absolute;
    top: 0px;
    background-color: #1edeec;
    overflow: hidden;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .error {
    margin: 6rem 1.5rem;
    color: red;
  }

  .hamburger {
    display: none;
  }

  .menu-items ul.open {
    display: flex;
    justify-content: flex-end;
  }

  .menu-items .link.active {
    color: rgb(0, 21, 128);
  }

  .menu-items .link {
    color: #fff;
    transition: all 0.4s ease-in-out;
  }

  .menu-items .link:hover {
    transform: scale(1.2);
  }
}
/*Hero*/
.main--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background-image: url("./components/images/blob-scene-haikei.svg"); */
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .main--container .main--header {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main--container .main--header {
    font-size: 3rem;
  }
}

.hero-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -99;
}
.hero-section video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.member-adding {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Login*/
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.inputs {
  box-shadow: 0px 2px 8px #34414b;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  padding: 3rem;
}
.input {
  outline: none;
  border: none;
  padding: 9px;
  border-radius: 5px;
  background: #ccc;
}
.input:active,
.input:focus {
  background: #ccc;
}
/* 
button.signIn {
  background: #fbae3c;
  border: none;
  padding: 8px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
button.signIn:hover {
  background: #b4781c;
} */
.signIn {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}

.signIn .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.signIn:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.signIn:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.signIn:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
.title {
  color: #001220;
}
.pass {
  position: relative;
  background: #ccc;
  border-radius: 5px;
}
.eye {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/*Footer*/
.footer {
  /* position: absolute; */
  /* bottom: 0; */
  padding: 1rem;
  background: #ddd;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  place-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer .icons {
  display: flex;
  gap: 2rem;
}

.icons--container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons--container h2 {
  font-size: 2rem;
}

.icons a {
  font-size: 22px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 2px 2px 2px #aaa;
}
.icons a:nth-child(1) {
  background: #132d66;
}
.icons a:nth-child(2) {
  background: #15d3f5;
}
.icons a:nth-child(3) {
  background: #29488a;
}
.icons a:nth-child(4) {
  color: #444;
  background: linear-gradient(45deg, #fd5d94, #ff9966);
}
.icons a:nth-child(5) {
  background: #1a50c4;
}

.footer--service h2 {
  text-align: center;
}
.footer--service ul {
  list-style-type: none;
  font-weight: 600;
}
.footer--service ul li {
  line-height: 1.5;
}

.phone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.1rem;
  /* text-align: cenxter; */
}
.phone a {
  text-decoration: none;
  color: #001220;
}
.footer--heading {
  text-align: center;
  color: #001220;
  position: relative;
}
.footer--heading h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.footer--heading p {
  font-weight: bold;
  font-size: 1.5rem;
  display: inline;
}

.emit {
  position: absolute;
  bottom: 1px;
  font-size: 1.5rem;
  line-height: 1.9;
}

.phone li {
  list-style: none;
  margin-bottom: 10px;
  font-weight: 600;
}
.phone h2 {
  margin: 0;
  text-align: center;
}
.home {
  font-size: 1.5rem;
}
.copy {
  background: #6895cf;
  width: 100%;
  text-align: center;
  padding: 1rem;
  grid-column: 1 / span 4;
}
@media screen and (max-width: 1024px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer--heading {
    font-size: 2rem;
  }
  .copy {
    grid-column: 1 / span 3;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .footer--heading {
    font-size: 1.1rem;
  }
  .copy {
    grid-column: 1 / span 2;
  }
  .footer .icons {
    gap: 0.8rem;
  }
  .phone a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .footer--heading {
    font-size: 1rem;
  }
  .copy {
    grid-column: 1;
  }
}

/*Blog*/
.profile--container {
  width: 75%;
  margin: 0 auto;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  /* background: dodgerblue; */
  margin-bottom: 1rem;
  padding: 1rem;
}
.profile--notation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem;
}

.profile--image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
}
.profile--image img {
  width: 100%;
  height: 100%;
}

.profile--btn1 {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.profile--btn2 {
  border: 2px solid rgb(255, 255, 255);
  z-index: 1;
  color: white;
}

.profile--btn2:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  background: rgb(255, 255, 255);
  transition: all 0.3s ease;
}

.profile--btn2:hover {
  color: rgb(0, 0, 0);
}

.profile--btn2:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.profile--btn2:active {
  top: 2px;
}
